* {
    margin: 0;
    padding: 0;
    list-style: none;
}
header {
    padding: 0;
    margin: 0;
    background-color: silver;
}
.navigation {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}
.nav-links {
    display: flex;
    column-gap: 2rem;
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: bold;
}
#food {
    width: 250px;
}

.pop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
    margin: 4rem;
    padding: 15px;
    max-width: fit-content;
}
.imgAndLogo {
    display: flex;
}
#cancel {
    margin-left: 25px;
    width: 30px;

}
.food-detail {
    font-size: 20px;
    margin-top: 1rem;
}
.comments {
    margin-top: 20px;
    width: 100%;
}
#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 5px;
}
input {
    border-radius: 3px;
}
textarea {
    border-radius: 5px;
}
#displayed {
    margin-top: 3%;
}